.loginButton {
    width: 380px;
    height: 40px;
    background-color:'#fdfdfdfd';
    border: none;
    border-radius: 9px;
    border: 2px solid black;
    cursor: pointer;
  }
  
  .loginButton:hover {
    background-color: black; /* Màu nền đổi thành đen khi hover */
    color: white; /* Màu chữ đổi thành trắng để dễ đọc */
  }
/* FormStyles.css */
.formRegiserStyle {
    width: 400px;
    height: 600px;
    background-color: white;
   
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
    transition: box-shadow 0.3s ease; /* Thêm transition cho hiệu ứng mờ */
  }
  .formRegiserStyle.shadow {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2); /* Đổ bóng khi input được focus */
  }
.formStyle {
    width: 400px;
    height: 400px;
    background-color: white;
   
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
    transition: box-shadow 0.3s ease; /* Thêm transition cho hiệu ứng mờ */
  }
  
  .formStyle.shadow {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2); /* Đổ bóng khi input được focus */
  }
  /* BackgroundStyles.css */
  /* @keyframes slideDiagonal {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 100%;
    }
  } */
  
.diagonalBackground {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #fdfdfdfd;
    /* background-image: url('../Home//image/Hyper.svg');
    background-size: cover;
    animation: slideDiagonal 5s linear infinite; */
  }
  